.definition::before {
  content: "Definition.";
  font-weight: bold;
}
.definition[title]::before {
  content: "Definition (" attr(title) ").";
  font-weight: bold;
}
.theorem::before {
  content: "Theorem.";
  font-weight: bold;
}
.theorem[title]::before {
  content: "Theorem (" attr(title) ").";
  font-weight: bold;
}
.proof::before {
  content: "Proof.";
  font-weight: bold;
}
.definition > p, .theorem > p, .proof > p { display: inline; }

table, .figure {
  display: inline-block;
  vertical-align: middle;
}
table {
  margin-left: auto;
  margin-right: auto;
}
.figure {
  margin: 0 40px 0;
  padding: 0;
}
.figure > p { margin: 0; }

.org-svg { width: auto; }
